/* minimal reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  min-width: 350px;
  text-align: center;
}

h1 {
  font-size: 24px;
}

/* custom css */
body {
  padding: 20px;
  position: relative;
  #badge {
    position: absolute;
    width: 0;
    height: 0;
    bottom: 65%;
    left: 75%;
    border-top: 100px solid #0096FF;
    border-left: 100px solid transparent;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 3fr auto;
}

.dantinhas {
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  place-self: start;
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  gap: 3px;
  padding: 4px 8px;
  border-top: 6px solid #0096FF;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  li {
    display: block;
    margin-left: 8px;
    font-size: 12px;
    padding: 4px 8px;

    img {
      width: 12px;
      height: 12px;
      margin-right: 5px;
    }
  }
}

#copyData {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  place-self: center;
  background-color: #0096FF;
  color: #FFF;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 8px;
  padding: 12px 8px;
  gap: 6px;
  font-weight: 600;
  font-size: 16px;
  border: none;

  &:disabled {
    cursor: not-allowed;
    background-color: #677782;
  }

  img {
    width: 18px;
  }
}

#error {
  display: none;
  color: red;
  font-size: 20px;
}

#data {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}

#storys {
  max-height: 200px;
  overflow: scroll;
}

#storys strong {
  display: block;
  margin-top: 10px;
}

#storys ul {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
